@import "variables";

/*-------------------------*/

* {
	box-sizing: border-box;
}

body {
	background: $black;
}

h1{
	@extend %h1;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	padding: 10px 0 50px 0;
	justify-content: center;
	flex-grow: 1;

		img{
			margin: 8px;
			width: 330px;
			height: 90%;
			border: 4px solid $border-white;
		}

		figcaption{
			@extend %figcaption;
			transition: 0.6s ease-in-out;
			transform: translate(300%);
		}
}


.image{
	position: relative;
	margin: auto 10px;
	overflow: hidden;

		&:hover{
			figcaption{
				transform: scale(1) translate(28px, 29px) rotate(6deg);
			}

			img{
				transition: .1s;
				filter: grayscale(1);
			}

			.social img{
				border: none;
				transform: translateX(0);
			}
		}
}



.social{
	right: 25px;
	position: absolute;
	display: flex;
	bottom: 18px;
	overflow: hidden;

		img{
			background-color: white;
			padding: 5px;
			border-radius: 20%;
			width: 30px;
			height: 30px;
			transform: translateX(200px);

			&:hover{
				opacity: 0.5;
			}
		}	
}	







